[submodule "web/jquery"]
	path = web/jquery
	url = https://github.com/jquery/jquery.git
[submodule "web/EventEmitter"]
	path = web/EventEmitter
	url = https://github.com/peers/EventEmitter.git
[submodule "web/libwebsockets"]
	path = web/libwebsockets
	url = https://github.com/warmcat/libwebsockets.git
